<h1>Edit Bulk Discount #<%= @bulk_discount.id %></h1>

<%= form_with model: [@merchant, @bulk_discount], id: "edit_bulk_discount", local: true  do |form| %>
  <%= form.label :percentage %>
  <%= form.text_field :percentage, required: true, placeholder: "Desired Percentage.." %>
  <%= form.label :quantity_threshold %>
  <%= form.text_field :quantity_threshold, required: true, placeholder: "Desired Quantity Threshold.." %>
  <%= form.submit %>
<% end %>