<h1>Bulk Discounts for: <%= @merchant.name %></h1>

<section id="bulk_discounts">
  <%= link_to "Create Discount", new_merchant_bulk_discount_path %>
  <ol>
    <% @bulk_discounts.each do |discount| %>
      <li id="discount-<%= discount.id %>">
        <%= link_to "Bulk_Discount ##{discount.id}", merchant_bulk_discount_path(@merchant.id, discount.id) %> - Percentage: <%= discount.percentage %>, Quantity of Item: <%= discount.quantity_threshold %>
      </li>
    <% end %>
  </ol>
</section>